.App {
  margin: 0;
  padding: 0;
}

.toggle {
  cursor: pointer;
}

.top-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}

.pane-title {
  padding: 10px;
  font-size: 1.5em;
}

.FeatureChart {
  margin: 20px 0 10px 0;

  .chart-title {
    padding-right: 10px;
    text-align: right;
  }
}

.FilterChart {
  margin: 10px auto;

  .chart-title {
    padding-right: 10px;
    text-align: right;
  }
}

.HighLevelStats {
  display: flex;
  padding: 10px;

  .stat {
    flex-grow: 1;
    text-align: left;
  }

  .stat-title {
    font-weight: bold;
  }

  .stat-number {
    font-size: 2em;
  }
}

.ExtremeExamples {
  position: relative;
  width: 100%;
  padding: 10px;

  .ee-title {
    margin-bottom: 10px;
  }

  .ee-container:not(:first-child) {
    margin-top: 10px;
  }
}

.PrettyExample {
  code {
    overflow-wrap: anywhere;
    font-size: 1.5em;
  }
}