.App {
  margin: 0;
  padding: 0;
  position: relative;
}

.PropertyView {
  width: 100%;
}

.toggle {
  cursor: pointer;
}

.top-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}

.pane-title {
  padding: 10px;
  font-size: 1.5em;

  small {
    font-size: 10px;
    font-family: monospace;
  }
}

.FeatureChart {
  margin: 20px 0 10px 0;

  .chart-title {
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

.BucketChart {
  margin: 10px auto;

  .chart-title {
    padding-right: 10px;
    text-align: right;
  }
}

.CoverageInfo {
  padding: 10px;

  table {
    td.coverage-file {
      padding-right: 30px;
    }

    code {
      font-size: 1.2em;
    }
  }
}

.ExtremeExamples {
  padding: 10px;

  .PrettyExample {
    margin: 5px 0;
  }
}

.PrettyExample {

  pre {
    // white-space: pre-wrap;
    // overflow-wrap: anywhere;
    font-size: 1.2em;
  }
}

.ExampleView {

  .page-buttons {
    position: fixed;
    bottom: 5px;
    right: 5px;
  }
}

.ExampleDOT {
  .ExampleDOT {
    width: 100%;
    margin: 5px auto;
  }

  .expander {
    text-align: center;
    cursor: pointer;
  }
}